.container{
	width: 1000px;
	height:500px;
	background-color: red;
	display:inline-block;
	position:relative;

}

#a{

	height :50px;
	width:50px;
	display:inline-block;
	margin:10px;
	background-color: green;
	position: fixed;
	font-size :50px;
	text-align:center;	

}
#b{

	height :50px;
	width:50px;
	display:inline-block;
	margin:10px;
	background-color: blue;
	position:fixed;
	font-size :50px;
	text-align:center;
}
#c{

	height :50px;
	width:50px;
	display:inline-block;
	margin:10px;
	background-color: blue;
	position:fixed;
	font-size :50px;
	text-align:center;
}
#d{

	height :50px;
	width:50px;
	display:inline-block;
	margin:10px;
	background-color: blue;
	position:fixed;
	font-size :50px;
	text-align:center;
}
#e{

	height :50px;
	width:50px;
	display:inline-block;
	margin:10px;
	background-color: blue;
	position:fixed;
	font-size :50px;
	text-align:center;
}
#f{

	height :50px;
	width:50px;
	display:inline-block;
	margin:10px;
	background-color: blue;
	position:fixed;
	font-size :50px;
	text-align:center;
}
#g{

	height :50px;
	width:50px;
	display:inline-block;
	margin:10px;
	background-color: blue;
	position:fixed;
	font-size :50px;
	text-align:center;
}
#h{

	height :50px;
	width:50px;
	display:inline-block;
	margin:10px;
	background-color: blue;
	position:fixed;
	font-size :50px;
	text-align:center;
}
#i{

	height :50px;
	width:50px;
	display:inline-block;
	margin:10px;
	background-color: blue;
	position:fixed;
	font-size :50px;
	text-align:center;
}
#j{

	height :50px;
	width:50px;
	display:inline-block;
	margin:10px;
	background-color: blue;
	position:fixed;
	font-size :50px;
	text-align:center;
}
#k{

	height :50px;
	width:50px;
	display:inline-block;
	margin:10px;
	background-color: blue;
	position:fixed;
	font-size :50px;
	text-align:center;
}
#l{

	height :50px;
	width:50px;
	display:inline-block;
	margin:10px;
	background-color: blue;
	position:fixed;
	font-size :50px;
	text-align:center;
}
#m{

	height :50px;
	width:50px;
	display:inline-block;
	margin:10px;
	background-color: blue;
	position:fixed;
	font-size :50px;
	text-align:center;
}
#n{

	height :50px;
	width:50px;
	display:inline-block;
	margin:10px;
	background-color: blue;
	position:fixed;
	font-size :50px;
	text-align:center;
}
#o{

	height :50px;
	width:50px;
	display:inline-block;
	margin:10px;
	background-color: blue;
	position:fixed;
	font-size :50px;
	text-align:center;
}
#p{

	height :50px;
	width:50px;
	display:inline-block;
	margin:10px;
	background-color: blue;
	position:fixed;
	font-size :50px;
	text-align:center;
}
#q{

	height :50px;
	width:50px;
	display:inline-block;
	margin:10px;
	background-color: blue;
	position:fixed;
	font-size :50px;
	text-align:center;
}
#r{

	height :50px;
	width:50px;
	display:inline-block;
	margin:10px;
	background-color: blue;
	position:fixed;
	font-size :50px;
	text-align:center;
}
#s{

	height :50px;
	width:50px;
	display:inline-block;
	margin:10px;
	background-color: blue;
	position:fixed;
	font-size :50px;
	text-align:center;
}
#t{

	height :50px;
	width:50px;
	display:inline-block;
	margin:10px;
	background-color: blue;
	position:fixed;
	font-size :50px;
	text-align:center;
}
#u{

	height :50px;
	width:50px;
	display:inline-block;
	margin:10px;
	background-color: blue;
	position:fixed;
	font-size :50px;
	text-align:center;
}
#v{

	height :50px;
	width:50px;
	display:inline-block;
	margin:10px;
	background-color: blue;
	position:fixed;
	font-size :50px;
	text-align:center;
}
#w{

	height :50px;
	width:50px;
	display:inline-block;
	margin:10px;
	background-color: blue;
	position:fixed;
	font-size :50px;
	text-align:center;
}
#x{

	height :50px;
	width:50px;
	display:inline-block;
	margin:10px;
	background-color: blue;
	position:fixed;
	font-size :50px;
	text-align:center;
}
#y{

	height :50px;
	width:50px;
	display:inline-block;
	margin:10px;
	background-color: blue;
	position:fixed;
	font-size :50px;
	text-align:center;
}
#z{

	height :50px;
	width:50px;
	display:inline-block;
	margin:10px;
	background-color: blue;
	position:fixed;
	font-size :50px;
	text-align:center;
}
	